if SHIELD_SOFLECIRQUE_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Soflecirque"

config ZMK_SPLIT_ROLE_CENTRAL
    default y


endif

if SHIELD_SOFLECIRQUE_RIGHT || SHIELD_SOFLECIRQUE_LEFT

config I2C
    default y

config ZMK_SPLIT
    default y

config ZMK_POINTING
    default y

endif